*{
	padding:0;
	margin:0;
}

#mapid {
  height: 100%;
  width: 100%;
  position: absolute;
  }
  html,body{margin: 0; padding: 0}

#mapid:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

h1::before{
  content: attr(mytitle);
  color: rgb(0, 255, 128);
  text-shadow: 1pt 1pt 2px rgb(0,0,0);
  position: absolute;
  left: 100px;
  top: 15px;
  z-index: 999;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	margin-bottom: 1px;
	/* color: blue; */
	font-style: italic;
	padding: .1px;
	letter-spacing: -.05rem;
}
.leaflet-panel-layers-title [id="29"] + span, .leaflet-panel-layers-title [id="30"] + span, .leaflet-panel-layers-title [id="31"] + span, .leaflet-panel-layers-title [id="32"] + span, .leaflet-panel-layers-title [id="33"] + span, .leaflet-panel-layers-title [id="34"] + span, .leaflet-panel-layers-title [id="35"] + span, .leaflet-panel-layers-title [id="36"] + span, .leaflet-panel-layers-title [id="37"] + span, .leaflet-panel-layers-title [id="38"] + span {
  color: red;
}
.leaflet-panel-layers-title [id="39"] + span, .leaflet-panel-layers-title [id="40"] + span, .leaflet-panel-layers-title [id="41"] + span, .leaflet-panel-layers-title [id="42"] + span, .leaflet-panel-layers-title [id="43"] + span, .leaflet-panel-layers-title [id="44"] + span, .leaflet-panel-layers-title [id="45"] + span, .leaflet-panel-layers-title [id="46"] + span, .leaflet-panel-layers-title [id="47"] + span, .leaflet-panel-layers-title [id="48"] + span {
  color: blue;
}
.leaflet-panel-layers-title [id="49"] + span, .leaflet-panel-layers-title [id="50"] + span, .leaflet-panel-layers-title [id="51"] + span, .leaflet-panel-layers-title [id="52"] + span, .leaflet-panel-layers-title [id="53"] + span, .leaflet-panel-layers-title [id="54"] + span, .leaflet-panel-layers-title [id="55"] + span, .leaflet-panel-layers-title [id="56"] + span {
  color:#931fff;
}
.leaflet-panel-layers-title [id="57"] + span, .leaflet-panel-layers-title [id="58"] + span, .leaflet-panel-layers-title [id="59"] + span, .leaflet-panel-layers-title [id="60"] + span, .leaflet-panel-layers-title [id="61"] + span, .leaflet-panel-layers-title [id="62"] + span, .leaflet-panel-layers-title [id="63"] + span, .leaflet-panel-layers-title [id="64"] + span {
  color:#f700ff
  ;
}